<div class="container">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">Cloudfoundry Community Dashboard</a>
      </div>
    </div>
  </div>
  <div id='spinnerContainer' class="cdb-container">
    <ul class="pr-list"></ul>
  </div>
</div>
