<div class="container">
  <div class="hero-unit">
    <h1>Pivotal Community Dashboard</h1>
  </div>
  <table class="table table-striped pr-table"></table>
  <div class="span11 pr-list-spinner">
    <div id='spinnerContainer' class='spinner'></div>
  </div>
</div>
